[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	editor = \"C:\\Users\\micky\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
